/** 代码字体 */
@font-face {
	font-family: "FiraCode";
	src: url("/assets/fonts/FiraCode-VF.woff2");
}
/** 正文字体 */
/** 1. 原始完整字体下载链接：https://github.com/adobe-fonts/source-han-serif/releases  */
/** 2. 使用 http://font.ssjjss.com/font-subset/ 对字体进行子集化，这里根据我的网站只保留了这些字符：1234567890/SupportMeI'mJustin3go年 */
@font-face {
	font-family: "Xiaolai-Regular";
	src: url("/assets/fonts/Xiaolai-Regular.ttf");
}
/** logo 字体 */
/** 使用 http://font.ssjjss.com/font-subset/ 对字体(/assets/fonts/Niconne-Regular.ttf)进行子集化，这里根据我的网站只保留了这些字符：Justin3go */
@font-face {
	font-family: "mvboli";
	src: url("/assets/fonts/mvboli.ttf");
}

/* 参考 https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */


@media (min-width: 960px) {
	.VPNavBar {
		width: 100%;
		justify-content: center; /* 居中内容 */
		background-color: var(--vp-c-bg); /* 设置背景色 */
	}
	
	/* 控制导航栏内容的宽度，并使其居中 */
	.VPNavBar .container {
		max-width: 70vw; /* 设置最大宽度为视口宽度的58% */
		width: 100%; /* 宽度为100% */
		margin: 0 auto; /* 居中 */
		padding-left: 0;
		padding-right: 0;
	}
}
.vp-doc p {
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
    font-size: 22px !important;
    font-weight: 600 !important;
	font-family: "FZFS_GBK";
}
h2 {
    font-size: 18px !important;
    font-weight: 500 !important;
	margin: inherit !important;
	border-top: none !important;
}
h3 {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.VPDoc {
    padding-top: 30px !important;
}

.VPSidebar,More actions
.VPDocAside,
.aside,
.VPBackToTop,
.VPLocalNav {
  display: none !important;
}

:root {
	--vp-c-green-1: #41b349;
	--vp-c-green-2: #41b349;
	--vp-c-green-3: #41b349;
	--vp-c-green-soft: rgba(110, 156, 190, 0.14);

	--vp-c-green-dark-1: #41b349;
	--vp-c-green-dark-2: #41b349;
	--vp-c-green-dark-3: #41b349;
	--vp-c-green-dark-soft: rgba(186, 186, 186, 0.14);
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-brand-1: var(--vp-c-green-1);
	--vp-c-brand-2: var(--vp-c-green-2);
	--vp-c-brand-3: var(--vp-c-green-3);
	--vp-c-brand-soft: var(--vp-c-green-soft);
}

.dark {
	--vp-c-brand-1: var(--vp-c-green-dark-1);
	--vp-c-brand-2: var(--vp-c-green-dark-2);
	--vp-c-brand-3: var(--vp-c-green-dark-3);
	--vp-c-brand-soft: var(--vp-c-green-dark-soft);
}


.VPDoc.has-aside .content-container {
    max-width: 61.8rem !important;
}

.VPDocFooter{
    margin-top: 30px;
}

@media (min-width: 960px) {
    .VPDoc:not(.has-sidebar) .content {
        max-width: inherit !important;
    }
.content[data-v-850b0654] {
    padding: 0 32px 32px;
}
}


/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
	/* --vp-font-family-base: "SourceHanSerifCN"; */
	--vp-font-family-base: "Xiaolai-Regular";
}

:root {
	--td-border-level-2-color: var(--vp-c-brand-soft) !important;
	--td-brand-color: var(--vp-c-brand-1) !important;
	--td-brand-color-light: var(--vp-c-brand-soft) !important;
	--td-brand-color-hover: var(--vp-c-brand-1) !important;
	--td-brand-color-active: var(--vp-c-brand-2) !important;
	/* 字体 family token */
	/* --td-font-family: SourceHanSerifCN, PingFang SC, Microsoft YaHei,
		Arial Regular;
	--td-font-family-medium: SourceHanSerifCN, PingFang SC, Microsoft YaHei,
		Arial Medium; */
}


/* logo 字体设置 */
.VPNavBarTitle .title {
	font-family: "mvboli";
	font-size: 24px !important;
}


/** 总体类 */
::selection {
	background: var(--vp-c-brand-1);
	color: var(--vp-c-bg);
}

::-moz-selection {
	background: var(--vp-c-brand-1);
	color: var(--vp-c-bg);
}

::-webkit-selection {
	background: var(--vp-c-brand-1);
	color: var(--vp-c-bg);
}

/** 链接样式 */
.VPDoc a {
	text-decoration: none !important;
}

.VPDoc a:hover {
	text-decoration: underline !important;
}

.VPFooter a {
	text-decoration: none !important;
}

.VPFooter a:hover {
	text-decoration: underline !important;
}

.VPDoc img {
	border-radius: 16px;
	cursor: zoom-in;
}

/* jupyter 输出代码不换行显示 */
main > div > div > pre > code {
	white-space: normal;
}

#app {
	/* 取消移动端点击 div 默认高亮效果 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/** i18n 选项不显示下拉图标 */
.vpi-chevron-down,
.text-icon {
	display: none;
}

/** 主题切换按钮样式 */
.VPSwitchAppearance {
	width: 22px !important;
}

.VPSwitchAppearance .check {
	transform: none !important;
}

/** 滚动条 */
* {
	/* scrollbar-color: rgba(0, 0, 0, 0.12) transparent; */
	scrollbar-width: thin;
}
